* {
  box-sizing: border-box;
}
/* Light theme */
:root[data-bs-theme="light"] {
    --bg-color: #fff;
    --text-color: #000;
    --card-bg: #f8f9fa;
}

/* Dark theme */
:root[data-bs-theme="dark"] {
    --bg-color: #1b1b1b;      
    --text-color: #dddddd;    
    --card-bg: #232323;      
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color); /* light/dark değişim için */
  font-family: "Zilla Slab", serif;
  color: var(--text-color);
}

.container {
  max-width: 1200px; /* Orijinal siteye ysakın genişlik */
}


#searchBox {
  border: 1px solid #ccc;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

/* Başlık */
h1 {
  font-family: "Great Vibes", cursive;
  font-size: 3rem;
  text-align: center;
  color: #4b80fd;
}

.menu {
  margin-top: 20px;
}

/* Butonlar */
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.filter-btn {
  background: transparent;
  border: 2px solid #9fbafa;
  padding: 0.5rem 1rem;
  margin: 0 5px;
  border-radius: 5px;
  color: #6b97fe;
  font-size: 1rem;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.filter-btn:hover {
  background: #80a5fb;
  color: white;
}

/* Menü item kapsayıcı */
.menu-item {
  display: flex;
  align-items: flex-start;
  margin: 20px 0;
  background-color: var(--card-bg); /* tema ile değişir */
  color: var(--text-color); /* tema ile değişir */
  border-radius: 10px;
  padding: 1rem;
}

/* Fotoğraf */
.photo {
  width: 30%;
  height: 200px;
  object-fit: cover;
  border: 0.25rem solid var(--text-color); /* tema ile değişir */
  border-radius: 10px;
}

/* Yemek bilgileri */
.item-info {
  margin-left: 20px;
  width: 100%;
}

.menu-title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--text-color);
}

.price {
  color: #e00b00e8;
  font-weight: bold;
}

/* Açıklama metni */
.item-text {
  padding-top: 20px;
  line-height: 1.4;
}
.menu-title h4:first-child {
  color: #e00b00e8; 
}

.footer-link {
  text-decoration: none; /* Alt çizgiyi kaldırır */
  color: black;          /* Rengi siyah yapar */
}

.footer-link:hover {
  color: black;          /* İstersen hoverda da siyah kalmasını sağlayabilirsin */
}
